{% extends 'base.html.twig' %}

{% block title %}Scalabel - Génération OF{% endblock %}

{% block body %}

 {% block stylesheets %}
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
 {% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('assets/js/sklbl_menu.js')}}"></script>
    <script src="{{ asset('assets/js/sklbl_step4.js')}}"></script>

{% endblock %}
<main class="container-fluid">
    <section class="row">
    <h3> Scalabel - Commandes {{sklblOrder.orderNum}}</h3>
        {% include '_partials/_sklbl/_menu.html.twig' %}

    <fieldset class="border p-2">
        <legend  class="float-none w-auto p-2">Résumé</legend>
        <div class="row pt-2">
            <div class="col-1"></div>
            <div class="col-2">
                <b>N° OF:</b> {{ sklblOf.code }}
            </div>
            <div class="col-2">
                <b>Article:</b> {{ article.ref }}
            </div>
            <div class="col-2">
                <b>Client:</b> {{ client.name }}
            </div>
            <div class="col-2">
                <b>Nbr de lots:</b> {{ count_sku }}
            </div>
            <div class="col-2">
                <b>A produire:</b> {{ produce_qte }}
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-1"></div>
            
 

            {% if sklblOrder.sklblStatus == 4 or sklblOrder.sklblStatus == 5 %}
                <div class="col-3"><button type="button" onclick="generate_f1({{ sklblOf.id }})" class="btn btn-success mt-2">Générer les enregistrements</button></div>
                <div class="col-3"><button type="button" class="btn btn-secondary mt-2" disabled>Demander le transfert Scalabel</button></div>
            {% endif %}
            {% if sklblOrder.sklblStatus == 6 or sklblOrder.sklblStatus == 7 or sklblOrder.sklblStatus == 8%}
                <div class="col-3"><button type="button" onclick="generate_f1({{ sklblOf.id }})" class="btn btn-success mt-2">Générer les enregistrements</button></div>
                <div class="col-3"><button type="button" onclick="ask_transfert({{ sklblOf.id }})"class="btn btn-primary mt-2" >Demander le transfert Scalabel</button></div>
            {% endif %}
            {% if sklblOrder.sklblStatus > 8%}
                <div class="col-3"><button type="button" onclick="generate_f1({{ sklblOf.id }})" class="btn btn-success mt-2">Générer les enregistrements</button></div>
                <div class="col-3"><button type="button" onclick="ask_transfert({{ sklblOf.id }})"class="btn btn-success mt-2" >Demander le transfert Scalabel</button></div>
            {% endif %}

            {% if sklblOrder.sklblStatus < 11 %}
                <div class="col-3"><button type="button" class="btn btn-secondary  mt-2" disabled>Confirmer la reception de Scalabel</button></div>
            {% elseif sklblOrder.sklblStatus == 11 %}
                <div class="col-3"><button type="button" class="btn btn-primary mt-2" onclick="conf_reception({{ sklblOf.id }})">Confirmer la reception de Scalabel</button></div>
            {% elseif sklblOrder.sklblStatus > 11 %}
                <div class="col-3"><button type="button" class="btn btn-success mt-2" disabled>Confirmer la reception de Scalabel</button></div>
            {% else %}
                <div class="col-3"><button type="button" class="btn btn-secondary mt-2" disabled>Confirmer la reception de Scalabel</button></div>
            {% endif %}
            
                
             <div class="col-1"></div>
        </div>
        
    </fieldset>
    <fieldset class="border p-2">
        <legend  class="float-none w-auto p-2">Avancement</legend>
        <section class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table id="fxsum_table" class="display border" style="width:100%;font-size: 0.8em">
                    <thead>
                        <tr>
                            <th>Fichier</th>
                            <th>Categorie</th>
                            <th>Lots références</th>
                            <th>Lots Générés</th>
                            <th>Prets</th>
                            <th>Transférés</th>
                            <th>Receptionnés</th>
                            <th>Rapprochés</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for file in sklblFiles %}
                        <tr>
                            {% if file.categorie == "Customer file" %}
                                {% if file.status == 1 %}
                                    <th class="alert alert-info"> {{ file.client_filename }} </th>
                                    <th class="alert alert-info"> {{ file.categorie }} </th>
                                    <th class="alert alert-info">{{ file.total_sku }}</th>
                                    <th class="alert alert-info">{{ file.genere_sku }}</th>
                                    <th class="alert alert-info">{{ file.pret_au_transfert_sku }}</th>
                                    <th class="alert alert-info">{{ file.transfere_sku }}</th>
                                    <th class="alert alert-info">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-info">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-info">Enregistrements à générer..</th>
                                {% elseif file.status == 2 %}
                                    <th class="alert alert-warning"> {{ file.client_filename }} </th>
                                    <th class="alert alert-warning"> {{ file.categorie }} </th>
                                    <th class="alert alert-warning">{{ file.total_sku }}</th>
                                    <th class="alert alert-warning">{{ file.genere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.pret_au_transfert_sku }}</th>
                                    <th class="alert alert-warning">{{ file.transfere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">En cours de génération..</th>
                                {% elseif file.status == 3 %}
                                    <th class="alert alert-success"> {{ file.client_filename }} </th>
                                    <th class="alert alert-success"> {{ file.categorie }} </th>
                                    <th class="alert alert-success">{{ file.total_sku }}</th>
                                    <th class="alert alert-success">{{ file.genere_sku }}</th>
                                    <th class="alert alert-success">{{ file.pret_au_transfert_sku }}</th>
                                    <th class="alert alert-success">{{ file.transfere_sku }}</th>
                                    <th class="alert alert-success">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-success">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-success">Enregistrements générés</th>
                                {% elseif file.status == 4 %}
                                    <th class="alert alert-warning"> {{ file.client_filename }} </th>
                                    <th class="alert alert-warning"> {{ file.categorie }} </th>
                                    <th class="alert alert-warning">{{ file.total_sku }}</th>
                                    <th class="alert alert-warning">{{ file.genere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.pret_au_transfert_sku }}</th>
                                    <th class="alert alert-warning">{{ file.transfere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">En attente transfert..</th>
                                {% elseif file.status == 5 %}
                                    <th class="alert alert-warning"> {{ file.client_filename }} </th>
                                    <th class="alert alert-warning"> {{ file.categorie }} </th>
                                    <th class="alert alert-warning">{{ file.total_sku }}</th>
                                    <th class="alert alert-warning">{{ file.genere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.pret_au_transfert_sku }}</th>
                                    <th class="alert alert-warning">{{ file.transfere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">Transfert en cours..</th>
                                {% elseif file.status == 6 %}
                                    <th class="alert alert-warning"> {{ file.client_filename }} </th>
                                    <th class="alert alert-warning"> {{ file.categorie }} </th>
                                    <th class="alert alert-warning">{{ file.total_sku }}</th>
                                    <th class="alert alert-warning">{{ file.genere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.pret_au_transfert_sku }}</th>
                                    <th class="alert alert-warning">{{ file.transfere_sku }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    <th class="alert alert-warning">En attente envoi..</th>
                                {% elseif file.status == 7 %}
                                    <th class="alert alert-success"> {{ file.client_filename }} </th>
                                    <th class="alert alert-success"> {{ file.categorie }} </th>
                                    <th class="alert alert-success">{{ file.total_sku }}</th>
                                    <th class="alert alert-success">{{ file.genere_sku }}</th>
                                    <th class="alert alert-success">{{ file.pret_au_transfert_sku }}</th>
                                    <th class="alert alert-success">{{ file.transfere_sku }}</th>
                                    
                                    {% if file.rapproche_fx ==  file.transfere_sku %}
                                        <th class="alert alert-success">{{ file.rapproche_fx }}</th>
                                        <th class="alert alert-success">{{ file.rapproche_fx }}</th>
                                        {% else %}
                                        <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                        <th class="alert alert-warning">{{ file.rapproche_fx }}</th>
                                    {% endif %}
                                    
                                    <th class="alert alert-success">Transféré</th>
                                    {% else %}
                                    <th class="alert alert-warning"> {{ file.client_filename }} </th>
                                    <th class="alert alert-warning"> {{ file.categorie }} </th>
                                    <th>{{ file.genere_sku }}/{{ file.total_sku }}</th>
                                    <th>{{ file.pret_au_transfert_sku }}</th>
                                    <th>{{ file.transfere_sku }}</th>
                                    <th>Na</th>
                                    <th></th>
                                    <th class="alert alert-warning">Inconnu..</th>

                                {% endif %}
                            {% endif %}
                            {% if file.categorie == "fx2" %}
                            {% if file.status == 1 %}
                                        <th class="alert alert-info"> {{ file.client_filename }} </th>
                                        <th class="alert alert-info"> {{ file.categorie }} </th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.rapproche_fx2 }}</th>
                                        <th class="alert alert-info">En reception...</th>
                                {% elseif file.status == 2 %}
                                        <th class="alert alert-info"> {{ file.client_filename }} </th>
                                        <th class="alert alert-info"> {{ file.categorie }} </th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-info">{{ file.rapproche_fx2 }}</th>
                                        <th class="alert alert-info">En reception...</th>

                                 {% elseif file.status == 3 %}

                                        <th class="alert alert-success"> {{ file.client_filename }} </th>
                                        <th class="alert alert-success"> {{ file.categorie }} </th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.rapproche_fx2 }}</th>
                                        <th class="alert alert-success">Receptionné</th>
                                {% elseif file.status == 4 %}

                                        <th class="alert alert-success"> {{ file.client_filename }} </th>
                                        <th class="alert alert-success"> {{ file.categorie }} </th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.receptionne_fx2 }}</th>
                                        <th class="alert alert-success">{{ file.rapproche_fx2 }}</th>
                                        <th class="alert alert-success">Confirmé</th>
                                    {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
        </section>

    </fieldset>    
    <fieldset class="border p-2">
        <legend  class="float-none w-auto p-2">Fx</legend>
        <section class="row">
            <div class="col-12">
            <table id="fx_table" class="display" style="width:100%;font-size: 0.8em">
                <thead>
                    <tr>
                        {% set colnum = 1 %}
                                {% for column in columns %}
                                    {% if colnum <= 10 %}
                                        <th>{{ column.label }}</th>
                                    {% endif %}
                                    {% set colnum = colnum + 1 %}                               
                                {% endfor %}
                        <th>Envoyé le</th>
                        <th>Reçu le</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>

                {% for fx in sklblFx %}
                    <tr>
                        {% for column in columns %}
                            {% if column.sklblStructure.name == "unique_id" %}
                                    <th>{{ fx['unique_id'] }}</th>                            
                            {% endif %}
                            {% if column.sklblStructure.name == "data1" %}<th>{{ fx['data1'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data2" %}<th>{{ fx['data2'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data3" %}<th>{{ fx['data3'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data4" %}<th>{{ fx['data4'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data5" %}<th>{{ fx['data5'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data6" %}<th>{{ fx['data6'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data7" %}<th>{{ fx['data7'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data8" %}<th>{{ fx['data8'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data9" %}<th>{{ fx['data9'] }}</th>{% endif %}
                            {% if column.sklblStructure.name == "data10" %}<th>{{ fx['data10'] }}</th>{% endif %}
                        {% endfor %}
                        <th>{{ fx['sent_on'] }}</th>
                        <th>{{ fx['received_on'] }}</th>
                        <th>{{ fx['status'] }}</th>
                    </tr>
                {% endfor %}
                    
                </tbody>
                <tfoot>
                    <tr>
                        {% set colnum = 1 %}
                                {% for column in columns %}
                                    {% if colnum <= 10 %}
                                        <th>{{ column.label }}</th>
                                    {% endif %}
                                    {% set colnum = colnum + 1 %}                               
                                {% endfor %}
                        <th>Envoyé le</th>
                        <th>Reçu le</th>
                        <th>Statut</th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </fieldset>



</main>
{% endblock %}