{% extends 'base.html.twig' %}

{% block title %}Scalabel - Commandes{% endblock %}

{% block body %}

 {% block stylesheets %}
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
 {% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('assets/js/sklbl_menu.js')}}"></script>
    <script src="{{ asset('assets/js/sklbl_step1.js')}}"></script>
{% endblock %}

<main class="container-fluid">
    <section class="row">
    <h3> Scalabel - Commandes {{sklblOrder.orderNum}} du client {{client.name}}</h3>
        {% include '_partials/_sklbl/_menu.html.twig' %}

        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Paramétrage</legend>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <button type="button" onclick="step1_conf_column({{ sklblOrder.id }},5)" class="btn btn-success mt-2">Configurer des colonnes</button>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table id="fx_step1_column" class="display border" style="width:100%;font-size: 0.8em">
                        <thead>
                            <tr>
                                <th>Données</th>
                                <th>Colonne du CSV</th>
                                <th>Lisage</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for column in columns %}
                            <tr>
                                <td>{{ column.columnLabel }}</td>
                                <td>{{ column.columnCsv }}</td>
                                {% if column.lisage == 1 %}
                                    <td>Oui</td>
                                {% else %}
                                    <td>Non</td>
                                {% endif %}
                                
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
            
            <section class="row">
                <div class="col-1"></div>
                <div class="col-11">
                </div>
            </section>
            
            
            <div class="row pt-3">
                <div class="col-1"></div>
                <div class="col-11">
                    Veuillez sélectionner le fichier client:
                </div>
            </div>
            {{ form_start(fileForm) }}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                    {{ form_label(fileForm.clientFilename) }}
                    {{ form_errors(fileForm.clientFilename) }}
                    {{ form_widget(fileForm.clientFilename) }}
                </div>
                <div class="col-5">
                    {{ form_label(fileForm.ligne) }}
                    {{ form_errors(fileForm.ligne) }}
                    {{ form_widget(fileForm.ligne,{
                            value: columnLigne
                        }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><button type="submit" class="btn btn-primary mt-2">Demander le chargement</button></div>
                <div class="col-4"></div>
            </div>
            {{ form_end(fileForm) }}
        </fieldset>
        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Chargement</legend>
            <section class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table id="fx_step1_table" class="display border" style="width:100%;font-size: 0.8em">
                    <thead>
                        <tr>
                            <th>Fichier</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}

                        <tr>
                            
                            {% if file.status == 0 %}
                                <th class="alert alert-warning"> {{ file.clientFilename }} </th>
                                <th class="alert alert-warning">En attente chargement..</th>
                            {% elseif file.status == 1 %}
                                <th class="alert alert-success"> {{ file.clientFilename }} </th>
                                <th class="alert alert-success">Succès</th>
                            {% elseif file.status == -1 %}
                                <th class="alert alert-danger"> {{ file.clientFilename }} </th>
                                <th class="alert alert-danger">Error</th>
                            {% endif %}
                                <th><button type="button" onclick="delete_file({{ file.id }})" class="btn btn-danger mt-2">Supprimer</button></th>
                            
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
        </section>




        </fieldset>    
        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Résumé</legend>
                <section class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        Nombre de faconniers: {{ nbfaconnier }}
                    </div>
                    <div class="col-2">
                        Nombre de sku: {{ nbsku }}
                    </div>
                    <div class="col-2">
                        Quantité totale commandée: {{ nbqte }}
                    </div>
                </section>
        </fieldset>


        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Résultats</legend>
                <section class="row">
                    <div class="col-12">
                    <table id="sku_table" class="display" style="width:100%;font-size: 0.8em">
                        <thead>
                            <tr>
                                <th>Façonnier</th>
                                <th>Id</th>
                                <th>Lot (Sku)</th>
                                <th>Variable à tisser</th>
                                {% for column in columns %}
                                    {% if column.num > 5 and column.num < 9 %}
                                            <th>{{ column.columnLabel }}</th>                            
                                    {% endif %}
                                    
                                {% endfor %}
                                <th>Quantités commandées</th>
                                <th>Fichier</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sku in skus %}
                            <tr>
                                <th>{{ sku.vendor }}</th>
                                <th>{{ sku.id }}</th>
                                <th>{{ sku.sku }}</th>
                                <th>{{ sku.sku_tisse }}</th>
                                {% for column in columns %}
                                    {% if column.num > 5 and column.num < 9 %}
                                        {% if column.num == 6 %}
                                                <th>{{ sku.opt_data1 }}</th>                            
                                        {% endif %}
                                        {% if column.num == 7 %}
                                                <th>{{ sku.opt_data2 }}</th>                            
                                        {% endif %}
                                        {% if column.num == 8 %}
                                                <th>{{ sku.opt_data3 }}</th>                            
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <th>{{ sku.order_qte }}</th>
                                <th>{{ sku.client_filename }}</th>
                                <th>{{ sku.status }}</th>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Façonnier</th>
                                <th>Id</th>
                                <th>Lot (Sku)</th>
                                <th>Variable à tisser</th>
                                {% for column in columns %}
                                    {% if column.num > 5 and column.num < 9 %}
                                            <th>{{ column.columnLabel }}</th>                            
                                    {% endif %}
                                {% endfor %}
                                <th>Quantités commandées</th>
                                <th>Fichier</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </div>
                    </div>
                </section>
        </fieldset>
    </section>
</main>

{% endblock %}