{% extends 'base.html.twig' %}

{% block title %}Scalabel - Commandes{% endblock %}

{% block body %}

 {% block stylesheets %}
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
 {% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('assets/js/sklbl_menu.js')}}"></script>
    <script src="{{ asset('assets/js/sklbl_step1.js')}}"></script>
{% endblock %}

<main class="container-fluid">
    <section class="row">
    <h3> Scalabel - Commandes {{sklblOrder.orderNum}} du client {{client.name}}</h3>
        {% include '_partials/_sklbl/_menu.html.twig' %}

        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Paramétrage</legend>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table id="fx_step1_column" class="display border" style="width:100%;font-size: 0.8em">
                        <thead>
                            <tr>
                                <th>Données</th>
                                <th>Colonne du CSV</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for column in columns %}
                            <tr>
                                <td>{{ column.label }}</td>
                                <td>{{ column.customerCsv }}</td>
                                
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
            
            <section class="row">
                <div class="col-1"></div>
                <div class="col-11">
                </div>
            </section>
            
            
            <div class="row pt-3">
                <div class="col-1"></div>
                <div class="col-11">
                    Veuillez sélectionner le fichier client:
                </div>
            </div>
            {{ form_start(fileForm) }}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                    {{ form_label(fileForm.clientFilename) }}
                    {{ form_errors(fileForm.clientFilename) }}
                    {{ form_widget(fileForm.clientFilename) }}
                </div>
                <div class="col-5">
                    {{ form_label(fileForm.ligne) }}
                    {{ form_errors(fileForm.ligne) }}
                    {{ form_widget(fileForm.ligne,{
                            value: columnLigne
                        }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"><button type="submit" class="btn btn-primary mt-2">Demander le chargement</button></div>
                <div class="col-4"></div>
            </div>
            {{ form_end(fileForm) }}
        </fieldset>
        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Chargement</legend>
            <section class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table id="fx_step1_table" class="display border" style="width:100%;font-size: 0.8em">
                    <thead>
                        <tr>
                            <th>Fichier</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}

                        <tr>
                            
                            {% if file.status == 0 %}
                                <th class="alert alert-warning"> {{ file.clientFilename }} </th>
                                <th class="alert alert-warning">En attente chargement..</th>
                            {% elseif file.status == 1 %}
                                <th class="alert alert-success"> {{ file.clientFilename }} </th>
                                <th class="alert alert-success">Succès</th>
                            {% elseif file.status == -1 %}
                                <th class="alert alert-danger"> {{ file.clientFilename }} </th>
                                <th class="alert alert-danger">Error</th>
                            {% endif %}
                                <th><button type="button" onclick="delete_file({{ file.id }})" class="btn btn-danger mt-2">Supprimer</button></th>
                            
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
        </section>




        </fieldset>    
        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Résumé</legend>
                <section class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        Nombre de sku: {{ nbsku }}
                    </div>
                    <div class="col-2">
                        Quantité totale commandée: {{ nbqte }}
                    </div>
                </section>
        </fieldset>


        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Résultats</legend>
                <section class="row">
                    <div class="col-12">
                    <table id="sku_table" class="display" style="width:100%;font-size: 0.8em">
                        <thead>
                            <tr>
                                {% set colnum = 1 %}
                                {% for column in columns %}
                                    {% if colnum <= 10 %}
                                        <th>{{ column.label }}</th>
                                    {% endif %}
                                    {% set colnum = colnum + 1 %}                               
                                {% endfor %}
                                <th>Fichier</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        {% for sku in skus %}
                            <tr>

                                {% for column in columns %}
                                    {% if column.sklblStructure.name == "order_qte" %}
                                            <th>{{ sku.order_qte }}</th>                            
                                    {% endif %}
                                    {% if column.sklblStructure.name == "data1" %}<th>{{ sku.data1 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data2" %}<th>{{ sku.data2 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data3" %}<th>{{ sku.data3 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data4" %}<th>{{ sku.data4 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data5" %}<th>{{ sku.data5 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data6" %}<th>{{ sku.data6 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data7" %}<th>{{ sku.data7 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data8" %}<th>{{ sku.data8 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data9" %}<th>{{ sku.data9 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data10" %}<th>{{ sku.data10 }}</th>{% endif %}
  
                                {% endfor %}
                                <th>{{ sku.client_filename }}</th>
                                <th>{{ sku.status }}</th>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                {% set colnum = 1 %}
                                {% for column in columns %}
                                    {% if colnum <= 10 %}
                                        <th>{{ column.label }}</th>
                                    {% endif %}
                                    {% set colnum = colnum + 1 %}                               
                                {% endfor %}
                                <th>Fichier</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </div>
                   
                    </div>
                </section>
        </fieldset>
    </section>
</main>

{% endblock %}