{% extends 'base.html.twig' %}

{% block title %}Scalabel - Commandes{% endblock %}

{% block body %}

 {% block stylesheets %}
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
 {% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('assets/js/sklbl_menu.js')}}"></script>
    <script src="{{ asset('assets/js/sklbl_step2.js')}}"></script>
{% endblock %}

<main class="container-fluid">
    <section class="row">
    <h3> Scalabel - Commandes {{sklblOrder.orderNum}}</h3>
        {% include '_partials/_sklbl/_menu.html.twig' %}
        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Paramétrage</legend>
            <section class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    Afin d'anticiper le taux de rebut, veuillez configurer les paramètres de majoration des quantités à produire :
                </div>
            </section>
            {{ form_start(majForm) }}
            <div class="row pt-2">
                <div class="col-1"></div>
                <div class="col-3">
                    {{ form_label(majForm.qteLimit) }}
                    {{ form_errors(majForm.qteLimit) }}
                    {{ form_widget(majForm.qteLimit) }}
                </div>
                <div class="col-3">
                    {{ form_label(majForm.percentAboveLimit) }}
                    {{ form_errors(majForm.percentAboveLimit) }}
                    {{ form_widget(majForm.percentAboveLimit) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mt-2">Lancer le calcul</button>
                </div>
            </div>

            {{ form_end(majForm) }}
        </fieldset>
        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Résumé</legend>
                <section class="row">
                    <div class="col-1"></div>
                    <div class="col-2">
                        Quantité commandée:  {{ nbqte }}
                    </div>
                    <div class="col-2">
                        Quantité totale à produire:  {{ nbProduceqte }}
                    </div>
                    <div class="col-2">
                        Quantité supplémentaire:  {{ nbOffqte }}
                    </div>
                    <div class="col-2">
                        Taux de déchet prévisionnel: {{ percentDechet }}
                    </div>
                </section>
        </fieldset>
        <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Résultats</legend>
                <section class="row">
                    <div class="col-12">
                    <table id="sku2_table" class="display" style="width:100%;font-size: 0.8em">
                        <thead>
                            <tr>
                                {% set colnum = 1 %}
                                {% for column in columns %}
                                    {% if colnum <= 10 %}
                                        <th>{{ column.label }}</th>
                                    {% endif %}
                                    {% set colnum = colnum + 1 %}                               
                                {% endfor %}
                                <th>Quantités supplémentaire</th>
                                <th>Quantités à produire</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sku in skus %}
                            <tr>
                                {% for column in columns %}
                                    {% if column.sklblStructure.name == "order_qte" %}
                                            <th>{{ sku.order_qte }}</th>                            
                                    {% endif %}
                                    {% if column.sklblStructure.name == "data1" %}<th>{{ sku.data1 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data2" %}<th>{{ sku.data2 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data3" %}<th>{{ sku.data3 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data4" %}<th>{{ sku.data4 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data5" %}<th>{{ sku.data5 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data6" %}<th>{{ sku.data6 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data7" %}<th>{{ sku.data7 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data8" %}<th>{{ sku.data8 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data9" %}<th>{{ sku.data9 }}</th>{% endif %}
                                    {% if column.sklblStructure.name == "data10" %}<th>{{ sku.data10 }}</th>{% endif %}

                                {% endfor %}
                                <th>{{ sku.off_qte }}</th>
                                <th>{{ sku.produce_qte }}</th>
                                <th>{{ sku.status }}</th>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                {% set colnum = 1 %}
                                {% for column in columns %}
                                    {% if colnum <= 10 %}
                                        <th>{{ column.label }}</th>
                                    {% endif %}
                                    {% set colnum = colnum + 1 %}                               
                                {% endfor %}
                                <th>Quantités supplémentaire</th>
                                <th>Quantités à produire</th>
                                <th>Statut</th>
                            </tr>
                        </tfoot>
                    </div>
                    </div>
                </section>
        </fieldset>


    </section>

{% endblock %}